{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg mb-auto fixed-top">
            <a class="navbar-brand" href="{% url 'homepage' %}">
                <h4 class="font-weight-bold">
                        <i class="fas fa-chart-area"></i> UniRanking 
                </h4>
            </a>
            <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active mx-lg-2">
                        <a class="nav-link" href="{% url 'homepage' %}">Trang Chủ</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="#">Xếp Hạng</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="#">So Sánh</a>
                    </li>
                    <li class="nav-item mx-lg-2">
                        <a class="nav-link" href="#">Đánh Giá</a>
                    </li>
                    <li class="nav-item nav-item mx-lg-2">
                        <a class="nav-link" href="#">Phản Hồi</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <button class="btn btn-success px-3 my-2 my-sm-0 mx-1 mx-md-2"><i class="fa fa-user-circle fa-lg"></i> {{user.get_short_name}}</button>
                {% else %}
                    <button class="btn btn-sm btn-primary my-2 my-sm-0 mx-1 mx-md-2" data-toggle="modal" data-target="#login-modal">Đăng Nhập</button>
                    <button class="btn btn-sm btn-success my-2 my-sm-0" data-toggle="modal" data-target="#signup-modal">Đăng Ký</button>
                {%endif%}
            </div>
        </nav>
        {% if not user.is_authenticated %}
            <div class="modal fade" id="login-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Đăng Nhập</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form id="login">
                                <div class="alert alert-danger" role="alert" id="login_errors"></div>
                                <div class="form-group">
                                    <label for="username">Tài khoản</label>
                                    <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Mật khẩu</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary float-right">Đăng Nhập</button>
                                <button type="button" class="btn btn-secondary float-right mr-2" data-dismiss="modal">Đóng</button>
                            </form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="signup-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Đăng Ký Tài Khoản</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form id="signup">
                                <div class="alert alert-success" role="alert" id="signup_success"></div>
                                <div class="alert alert-danger" role="alert" id="signup_errors"></div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="firstname">Tên</label>
                                        <input type="text" class="form-control" id="firstname" name="first_name" aria-describedby="firstnameHelp" placeholder="A">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="lastname">Họ</label>
                                        <input type="text" class="form-control" id="lastname" name="last_name" aria-describedby="lastnameHelp" placeholder="Nguyễn Văn">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username2">Tên tài khoản</label>
                                    <input type="text" class="form-control" id="username2" name="username" aria-describedby="usernameHelp" placeholder="nguyenvana">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="nguyenvana@uniranking.com">
                                </div>
                                <div class="form-group">
                                    <label for="password1">Mật khẩu</label>
                                    <input type="password" class="form-control" id="password1" name="password1">
                                </div>
                                <div class="form-group">
                                    <label for="password2">Xác nhận mật khẩu</label>
                                    <input type="password" class="form-control" id="password2" name="password2">
                                </div>
                                <button type="submit" class="btn btn-success float-right">Đăng Ký</button>
                                <button type="button" class="btn btn-secondary float-right mr-2" data-dismiss="modal">Đóng</button>
                            </form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% block intro %}
        {% endblock %}
    </div>
    
    {% block body%}
    {% endblock %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>
    {% block script %}{% endblock %}
</body>

</html>