{% extends 'user/share/base.html' %}
{% load staticfiles %}

{% block title %} {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'user/stylesheets/favourite-university.css' %}">
{% endblock %}
{% block favourite_university %} active {% endblock %}
{% block inner_title %}
Trường yêu thích
{% endblock %}
{% block breadcrumbs %}
<a href="/user/favourite-university" class="m-nav__link">
    <span class="m-nav__link-text">Các trường mà bạn yêu thích</span>
</a>
{% endblock %}

{% block content %}
<div class="row" id="favourite-university-area">
</div>
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m--regular-font-size-lg4">Xác nhận xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" class="btn btn-outline-warning" id="confirm-btn" data-dismiss="modal">Xóa</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'user/javascripts/favourite-university.js' %}"></script>
{% endblock  %}