{% extends "layouts/base.html" %}{% load static %}

{% block title %}
    {{ university.name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/info.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/info.js' %}"></script>
{% endblock %}

{% block intro %}
    <div class="cover"></div>
{% endblock %}

{% block body %}
    <div class="gap"></div>
    <div class="container">
        <img class="profile_image img-thumbnail mx-auto d-block d-md-inline" src="{% static 'image/vnu_avatar.jpg' %}" alt="avatar">
        <div class="d-none d-md-inline-block col-md-2 col-lg-4"></div>
        <img class="map img-thumbnail d-none d-md-inline" src="{% static 'image/map_sample.png' %}" alt="map sample">  
    </div>
    <div class="container-fluid">
        <div class="row uni_header">
            <div class="col mr-2"><h2 class="text-center font-weight-bold">{{ university.ranking_position }}</h2></div>
            <div class="col-11"><h3> {{ university.name }}</h3></div>
        </div>
        <div class="row uni_body">
            <div id="subject" university-id="{{university.pk}}" class="col d-flex flex-column">
                <a subject-id="0" class="uni_whole">Toàn Trường</a>
                {% regroup subjects by root_group as subject_list %}
                {% for subject in subject_list %}
                    <div class="dropdown_list">
                        <a class="dropdown_toggle">{{ subject.grouper }}</a>
                        <div class="dropdown_content">
                            {% regroup subject.list by group as sub_subject_list %}
                            {% for sub_subject in sub_subject_list %}
                                <div class="dropdown_list">
                                    {% if sub_subject.grouper != subject.grouper %}
                                        <a class="dropdown_toggle">{{ sub_subject.grouper }}</a>
                                    {% endif %}
                                    <div class="dropdown_content">
                                        {% for sub_subject in sub_subject.list %}
                                            <a subject-id ="{{sub_subject.pk}}">{{sub_subject.name}}</a>
                                        {% endfor %}                                
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="ml-2 pr-0 col-8">
                <table id="score_table" class="table">
                    <thead class="table_head">
                        <tr>
                            <th>Tiêu chí</th>
                            <th class="text-center">Điểm</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
{%  endblock %}