<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8">

        <title>12A1 k53 HHA Lists</title>
        <script type="text/javascript" src="js/jquery321.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <script type="text/javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" src="js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="js/dataTables.bootstrap.js"></script>                                          
        <link rel="shortcut icon" href="img/NFN_post.png"/>
        <script>
            $(document).ready(function() {
                $('.table').DataTable();
            } );
        </script>   

    </head>

    <body>
        <div class="navbar navbar-inverse" id="navigation" role="navigation">
             <div class="container-fluid">
                 <!-- Brand and toggle get grouped for better mobile display -->
                 <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="index.html"><img src="img/img.png" alt="logo" height=30px></a>
                 </div>
         
                 <!-- Collect the nav links, forms, and other content for toggling -->
                 <div class="collapse navbar-collapse navbar-ex1-collapse">
                     <ul class="nav navbar-nav">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li class="dropdown active">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                             <ul class="dropdown-menu">
                                 <li><a href=bmi.html>Tính BMI</a></li>
                                 <li><a href="uac.html">UAC</a></li>
                                 <li><a href="a1.html">A1 HHA k53</a></li>
                             </ul>
                         </li>  
                         <!-- <li><a href="contact.html">Liên hệ</a></li> -->
                         <li><a href="about.html">About</a></li>
                    </ul>   
                     
                     <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li class = "dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">OSite<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://vantrong291.wordpress.com">Wordpress.com</a></li>   
                            </ul>
                        </li>

                    </ul>
                 </div><!-- /.navbar-collapse -->
             </div>
        </div> 
        <div class="container" id="content">

            <div class="col-md-9">
                <div class="row">
                    <h2>12A1 HHA list: </h2>
                    <p>Note: 12A1 HHA k53 2013-2016</p>                
                </div>
                <div class="row">
                        

                        <table id="tab01" class="table table-striped table-bordered table-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Họ và tên</th>
                                    <th>Ngày sinh</th>
                                    <th>Địa chỉ</th>
                                    <th>Lớp</th>
                                    <th>Đại học</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <td><a href="https://www.facebook.com/anhnqgp">Nguyễn Quốc Anh</a></td>
                                    <td>11/03/1998</td>
                                    <td>Đông Biên, Hải Bắc</td>
                                    <td>12A1</td>
                                    <td>Đại Học Y Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/v.anh.nguyen.393">Nguyễn Vân Anh</a></td>
                                    <td>26/09/1998</td>
                                    <td>Xóm 9, Hải Anh</td>
                                    <td>12A1</td>
                                    <td>Đại Học Bách Khoa Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/anh.nguyenngoc.10">Nguyến Thị Ngọc Ánh</a></td>
                                    <td>???</td>
                                    <td>???, Hải Anh</td>
                                    <td>12A1</td>
                                    <td>Đại Học Y Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/binh.nguyenngoc.9406">Nguyễn Ngọc Bình</a></td>
                                    <td>16/01/1998</td>
                                    <td>Xóm 9, Hải Anh</td>
                                    <td>12A1</td>
                                    <td>Đại Học Y Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/chu.tranminh.1">Trần Minh Chủ</a></td>
                                    <td>30/06/1998</td>
                                    <td>Số 54, Khu 1, Yên Định </td>
                                    <td>12A1</td>
                                    <td>Học Viện Tài Chính</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/cong.phanquoc.5">Phan Quốc Công</a></td>
                                    <td>02/10/1998</td>
                                    <td>Xóm 12, Hải Trung</td>
                                    <td>12A1</td>
                                    <td>Đại Học Y Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/cuong.phamhung.9619">Phạm Hùng Cường</a></td>
                                    <td>20/07/1998</td>
                                    <td>Số 129, Cao An, Cồn</td>
                                    <td>12A1</td>
                                    <td>Học Viện Quân Y</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/XuanCuong1902">Trần Xuân Cường</a></td>
                                    <td>09/02/1998</td>
                                    <td>Xóm 2, Hải Phương</td>
                                    <td>12A1</td>
                                    <td>Đại Học Bách Khoa Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100008142043011">Hoàng Văn Dinh</a></td>
                                    <td>29/08/1998</td>
                                    <td>Xóm 17, Hải Long</td>
                                    <td>12A1</td>
                                    <td>Học Viện Kỹ Thuật Quân Sự</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100008469756078">Nguyễn Du</a></td>
                                    <td>18/10/1998</td>
                                    <td>Xóm 13, Hải Long</td>
                                    <td>12A1</td>
                                    <td>Học Viện Hậu Cần</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100008369620942">Nguyễn Thế Dũng</a></td>
                                    <td>???</td>
                                    <td>???</td>
                                    <td>12A1</td>
                                    <td>Đại Học Dược Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100013299871818">Bùi Thị Mỹ Duyên</a></td>
                                    <td>05/01/1998</td>
                                    <td>Số 173, Khu 1, Yên Định </td>
                                    <td>12A1</td>
                                    <td>Đại Học Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/duyenhuper1910">Nguyễn Thị Mỹ Duyên</a></td>
                                    <td>19/10/1998</td>
                                    <td>???</td>
                                    <td>12A1</td>
                                    <td>Đại Học Dược Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/nguyen.thuyduong.79827">Nguyễn Thùy Dương</a></td>
                                    <td>10/10/1998</td>
                                    <td>Xóm 4, Hải Phương</td>
                                    <td>12A1</td>
                                    <td>Đại Học Ngoại Thương</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100004733505391">Nguyễn Mạnh Đạt</a></td>
                                    <td>25/06/1998</td>
                                    <td>Xóm 8, Trực Đại</td>
                                    <td>12A1</td>
                                    <td>Học Viện Quân Y, du học</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/djen.nguyen.982">Nguyễn Văn Điền</a></td>
                                    <td>01/10/1998</td>
                                    <td>Xóm 4B, Cồn</td>
                                    <td>12A1</td>
                                    <td>Học Viện Quân Y</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100009253468731">Trần Minh Đức</a></td>
                                    <td>???</td>
                                    <td>???</td>
                                    <td>12A1</td>
                                    <td>Học Viện Hậu Cần</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/emi.havu">Vũ Thị Thu Hà</a></td>
                                    <td>22/05/1998</td>
                                    <td>Xóm 9, Hải Thanh</td>
                                    <td>12A1</td>
                                    <td>Đại Học Dược Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100005113261224">Vũ Thị Thu Hà</a></td>
                                    <td>08/07/1998</td>
                                    <td>Hải Phòng</td>
                                    <td>12A1</td>
                                    <td>Đại Học Y Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/vu.ha.3112">Vũ Thị Thúy Hà</a></td>
                                    <td>31/12/1998</td>
                                    <td>Xóm 9, Hải Hà</td>
                                    <td>12A1</td>
                                    <td>Đại Học Luật Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/lumos.asphodel">Nguyễn Thanh Hiền</a></td>
                                    <td>13/09/1998</td>
                                    <td>Xóm 5, Trực Đại</td>
                                    <td>11A1</td>
                                    <td>Đại Học Ngoại Thương</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/khuatthi.thuhien">Khuất Thị Hiền</a></td>
                                    <td>13/12/1998</td>
                                    <td>Xóm 10, Hải Anh</td>
                                    <td>12A1</td>
                                    <td>Đại Học Kinh Tế Quốc Dân</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100013896645728">Nguyễn Thị Hoan</a></td>
                                    <td>???</td>
                                    <td>???</td>
                                    <td>12A1</td>
                                    <td>Đại Học Kinh Tế Quốc Dân</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/hoan.mai.543">Mai Thị Thu Hoàn</a></td>
                                    <td>23/04/1998</td>
                                    <td>Số 160, Khu 1, Yên Định</td>
                                    <td>12A1</td>
                                    <td>Đại Học Kinh Tế Quốc Dân</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/hoang.do.75054">Đỗ Huy Hoàng</a></td>
                                    <td>15/12/1998</td>
                                    <td>số 213, Khu 4, Yên Định</td>
                                    <td>12A1</td>
                                    <td>Học Viện Tài Chính</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100009942512067">Phạm Văn Hoạt</a></td>
                                    <td>30/04/1998</td>
                                    <td>Xóm 15, Hải Quang</td>
                                    <td>12A1</td>
                                    <td>Đại Học Y Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/bui.quanghung.7355">Bùi Quang Hưng</a></td>
                                    <td>01/06/1998</td>
                                    <td>Xóm 6A, Hải Thanh</td>
                                    <td>12A1</td>
                                    <td>Học Viện Tài Chính</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/tranthi.hoaihuong.33">Trần Thị Hoài Hương</a></td>
                                    <td>21/08/1998</td>
                                    <td>Xóm 10, Hải Trung</td>
                                    <td>12A1</td>
                                    <td>Đại Học Ngoại Thương</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/Yong.Pal.119">Phạm Thị Thanh Hương</a></td>
                                    <td>07/04/1998</td>
                                    <td>Xóm 22, Hải Anh</td>
                                    <td>11A1</td>
                                    <td>Đại Học Y Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/kiet.mai.7549">Mai Tuấn Kiệt</a></td>
                                    <td>21/04/1998</td>
                                    <td>Xóm 6, Hải Hưng</td>
                                    <td>12A1</td>
                                    <td>Đại Học Bách Khoa Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/huyenvu9802">Vũ Thị Huyền Linh</a></td>
                                    <td>01/02/1998</td>
                                    <td>Đội 8, Hải Thanh</td>
                                    <td>12A1</td>
                                    <td>Đại Học Kinh Tế Quốc Dân</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/thuylinh.pham114">Phạm Thùy Linh</a></td>
                                    <td>11/04/1998</td>
                                    <td>Khu 1, Yên Định</td>
                                    <td>11A1</td>
                                    <td>Đại Học Ngoại Thương</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/nguyenminhquan98nd">Nguyễn Minh Quân</a></td>
                                    <td>01/11/1998</td>
                                    <td>Xóm 15, Hải Quang</td>
                                    <td>12A1</td>
                                    <td>Học Viện An Ninh</td>
                                </tr>   
                                <tr>
                                    <td><a href="https://www.facebook.com/yenlinh.bui.123456">Bùi Yến Linh</a></td>
                                    <td>???</td>
                                    <td>???</td>
                                    <td>12A1</td>
                                    <td>Đại Học Ngoại Thương</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100011954737813">Vũ Thị Hồng Ngọc</a></td>
                                    <td>08/08/1998</td>
                                    <td>Xóm 8, Hải Minh</td>
                                    <td>12A1</td>
                                    <td>Đại Học Y Thái Bình</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/lp.nguyen726?fref=gm&dti=498178063594374">Nguyễn Thị Lan Phương</a></td>
                                    <td>04/01/1998</td>
                                    <td>Xóm 11, Hải Tây</td>
                                    <td>12A1</td>
                                    <td>Đại Học Kinh Tế Quốc Dân</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/quytrinh1198">Trịnh Văn Quý</a></td>
                                    <td>???</td>
                                    <td>???</td>
                                    <td>12A1</td>
                                    <td>Đại Học Dược Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/sao.nguyenminh.1012">Nguyễn Minh Sao</a></td>
                                    <td>10/12/1998</td>
                                    <td>???, Hải Trung</td>
                                    <td>12A1</td>
                                    <td>Học Viện Quân Y</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100008174149249">Mai Hùng Sâm</a></td>
                                    <td>25/02/1998</td>
                                    <td>???</td>
                                    <td>12A1</td>
                                    <td>Đại Học Dược Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/quangtoi1712">Phạm Quang Tới</a></td>
                                    <td>17/12/1998</td>
                                    <td>Xóm 3, Hải Hà</td>
                                    <td>12A1</td>
                                    <td>Học Viện Kỹ Thuật Quân Sự</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100009979021078">Nguyễn Thu Trang</a></td>
                                    <td>02/08/1998</td>
                                    <td>Xóm 8, Hải Hà</td>
                                    <td>12A1</td>
                                    <td>Đại Học Luật Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/vantrong.orion">Phạm Văn Trọng</a></td>
                                    <td>29/01/1998</td>
                                    <td>Xóm Bắc Hải, Hải Minh</td>
                                    <td>12A1</td>
                                    <td>Đại Học Công Nghê, ĐHQGHN</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/SondraSwifty">Phạm Quang Trung</a></td>
                                    <td>30/08/1998</td>
                                    <td>Xóm 5, Hải Sơn</td>
                                    <td>12A1</td>
                                    <td>Đại Học Bách Khoa Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100012794550996">Mai Quốc Trung</a></td>
                                    <td>26/01/1998</td>
                                    <td>Xóm 5, Hải Hưng</td>
                                    <td>12A1</td>
                                    <td>Học Viện Hải Quân, du học</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100011620749650">Nguyễn Quốc Trung</a></td>
                                    <td>06/09/1998</td>
                                    <td>Xóm 2, Trực Thắng</td>
                                    <td>12A1</td>
                                    <td>Học Viện Cảnh Sát</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/letuan.179">Lê Đình Tuấn</a></td>
                                    <td>24/11/1998</td>
                                    <td>Số 223, Khu 4, Yên Định</td>
                                    <td>12A1</td>
                                    <td>Đại Học Bách Khoa Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/hoang.bich.7106">Hoàng Thị Bích</a></td>
                                    <td>???</td>
                                    <td>???</td>
                                    <td>10A1</td>
                                    <td>Đại Học Ngoại Ngữ, ĐHQGHN</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/thutrang.trannguyen.94">Phạm Hương Giang</a></td>
                                    <td>15/07/1998</td>
                                    <td>???, Hải Anh</td>
                                    <td>10A1</td>
                                    <td>Học Viện Tài Chính</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/sakura.ju.7">Phạm Thị Thúy Nhài</a></td>
                                    <td>23/01/1998</td>
                                    <td>???, Cồn</td>
                                    <td>10A1</td>
                                    <td>???</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100009888736807">Nguyễn Thảo Nhi</a></td>
                                    <td>???</td>
                                    <td>???</td>
                                    <td>10A1</td>
                                    <td>???</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100013347036817">Trần Thị Thúy Quỳnh</a></td>
                                    <td>10/3/1998</td>
                                    <td>???, Hải Anh</td>
                                    <td>10A1</td>
                                    <td>Học Viện Tài Chính</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/profile.php?id=100005586482221">Phạm Thị Khánh Hòa</a></td>
                                    <td>???</td>
                                    <td>???</td>
                                    <td>10A1</td>
                                    <td>Đại Học Kinh Tế Quốc Dân</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/phamingan">Phạm Thị Ngần</a></td>
                                    <td>???</td>
                                    <td>???</td>
                                    <td>12A1</td>
                                    <td>Đại Học Sư Phạm Hà Nội</td>
                                </tr>
                                <tr>
                                    <td><a href="https://www.facebook.com/huongtra.256">Nguyễn Hương Trà</a></td>
                                    <td>25/06/1998</td>
                                    <td>Xóm 2A, Hải Minh</td>
                                    <td>10A1</td>
                                    <td>Học Viện Tài Chính</td>
                                </tr>
                            </tbody>
                        </table>
                    
                </div>
                

            </div>
            <div class="col-md-3">
                <div class="panel panel-success" id="sidebar">
                    <div class = "panel-heading">Bài viết nổi bật: </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="bmi.html">BMI <span class="badge">1</span></a></li>
                            <li><a href="uac.html">UAC <span class="badge">1</span></a></li>
                        </ul>
                    </div>
                </div>    
            </div>
        
        

        </div>
        <div class="navbar navbar-inverse">
            <div class="col-md-push-5 col-md-6">
                <a class="navbar-brand">Copyright @2017</a>
            </div> 
        </div>        
    </body>
</html>
 