{% extends 'UniRanking/base.html' %} {% load staticfiles %} {% block title %} So sánh | Hệ thống so sánh các trường Đại học
{% endblock %} {% block compare %} class="active" {% endblock %} {% block stt %}
<script type="text/javascript" src="{% static 'js/iziToast.min.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/iziToast.min.css'%}">

<script type="text/javascript" src="{% static 'js/compare.js'%}"></script>

{% endblock %} {% block body %}
<div id="page">
    <div class="container-fluid after-menu" id="compare-introduce">
        <div class="row mx-0 justify-content-center">
            <!-- <div class="col-lg-2 text-center">
                <i class="fa fa-object-ungroup" id="compare-icon"></i>
            </div>
            <div class="col-lg-8">
                <h1> Chức năng so sánh:</h1>
                <p class="p-large">So sánh các trường tương tự nhau hoặc so sánh các ngành đào tạo giống nhau của các trường</p><hr>
            </div> -->
            <div class="col-1"></div>
            <div class="col-3">
                <p class="p-large">Một số ngành nổi bật:</p>
                <ul>
                    <li>
                        <p class="my-1"> Công nghệ thông tin
                            <i class="right-icon mt-1 fa fa-plus"></i>
                        </p>
                    </li>
                    <li>
                        <p class="my-1"> Kế toán
                            <i class="right-icon mt-1 fa fa-plus"></i>
                        </p>
                    </li>
                    <li>
                        <p class="my-1"> Tự động hóa
                            <i class="right-icon mt-1 fa fa-plus"></i>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-1">
                <!-- <p class="p-large"></p> -->
                <!-- <p class="my-1">Dược học</p> -->
                <!-- <p class="my-1">Y học Đa khoa<i class="right-icon mt-1 fa fa-plus"></i></p> -->
            </div>
            <div class="col-4">
                <p class="p-large"> Một số trường nổi bật:</p>
                <ul>
                    <li>
                        <p class="my-1"> Đại Học Quốc Gia Hà Nội
                            <i class="right-icon mt-1 fa fa-plus"></i>
                        </p>
                    </li>
                    <li>
                        <p class="my-1"> Đại Học Bách Khoa Hà Nội
                            <i class="right-icon mt-1 fa fa-plus"></i>
                        </p>
                    </li>
                    <li>
                        <p class="my-1"> Đại Học Ngoại Thương Hà Nội
                            <i class="right-icon mt-1 fa fa-plus"></i>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <div class="container-fluid s-odd">
        <div class="row mx-0 justify-content-center">
            <div class="col-lg-3">

                <div class="my-4 bg-custom shadow-custom">
                    <div class="card-body">
                        <h4 class="card-title"><i class="fa fa-gears"></i> Chọn kiểu so sánh:</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-custom">
                            <div class="pb-3 text-center"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <btn class="btn btn-lg btn-primary go-to-id w-100" id="subject-compare" show="#compare__subject_subj-selection">So sánh theo ngành</btn>
                            <p class="my-0 p-2 text-center wrap-text">Chọn một ngành cụ thể, hệ thống sẽ lọc cho bạn các trường đào tạo ngành đó</p>
                        </li>

                        <li class="list-group-item bg-custom">
                            <div class="pb-3 text-center"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <btn class="btn btn-lg btn-primary go-to-id w-100" id="university-compare" show="#compare__university_univ-selection">So sánh theo trường </btn>
                            <p class="my-0 p-2 text-center wrap-text">Chọn một ngành cụ thể, hệ thống sẽ lọc cho bạn các trường đào tạo ngành đó</p>
                        </li>

                    </ul>

                </div>

            </div>
            <div class="col-lg-7 my-4 p-0 shadow-custom" id="carousel-comp-area">
                <div id="carousel-comp" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-comp" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-comp" data-slide-to="1" class=""></li>

                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img data-src="holder.js/600x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" src="../../static/img/VNU.jpg" title="Đại Học Quốc Gia Hà Nội, số 144, Xuân Thủy, Cầu Giấy, Hà Nội" width="100%">
                            <div class="carousel-caption">
                                <h2>So sánh theo ngành</h2>
                                <p>bla bla bla ...</p>
                                <hr>
                                <p>bla bla bla ...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img data-src="holder.js/600x500/auto/#666:#6a6a6a/text:Second slide" alt="Fouth slide" src="../../static/img/VNU.jpg" title="Đại Học Bách Khoa Hà Nội, số 1, Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội" width="100%">
                            <div class="carousel-caption">
                                <h2>So sánh theo trường</h2>
                                <p>bla bla bla ...</p>
                                <hr>
                                <p>bla bla bla ...</p>
                            </div>
                        </div>

                    </div>
                    <a class="left carousel-control-prev" href="#carousel-comp" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="right carousel-control-next" href="#carousel-comp" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-7 my-4 mx-3 bg-custom shadow-custom non-display" id="compare__subject_subj-selection">
                <div class="row mx-0">
                    <div class="col-12">
                        <div class="row mx-0 mt-4">
                            <div class="col-6 px-0">
                                <h4><i class="fa fa-th"></i> Chọn ngành cần so sánh:</h4>
                            </div>
                            <div class="col-6 px-0 text-right">
                                <button class="btn btn-link go-to-id disabled" id="univ-next-btn" show="#compare__subject_univ-selection">Chọn trường
                                    <i class="fa fa-angle-double-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-4" id="subject-collapse">
                        <ul class="nav nav-tabs">
                            <li class="nav-item text-center">
                                <a id="tab1" class="nav-link active" href="#groupSubject-1" data-toggle="tab">Khối ngành</a>
                            </li>
                            <li class="nav-item text-center">
                                <a id="tab2" class="nav-link" href="#groupSubject-2" data-toggle="tab">Nhóm ngành</a>
                            </li>
                            <li class="nav-item text-center">
                                <a id="tab3" class="nav-link" href="#subject" data-toggle="tab">Ngành</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane in active" id="groupSubject-1">
                                <div class="row mx-0 gs-table" id="gs1-area">

                                </div>
                            </div>
                            <div class="tab-pane fade in" id="groupSubject-2" style="min-height:300px">
                                <div class="row mx-0 gs-table" id="gs2-area">
                                    <div class="alert alert-warning mx-auto mt-3 h-25">Bạn chưa chọn khối ngành!</div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="subject" style="min-height:300px">
                                <div class="row mx-0 gs-table" id="subject-area">
                                    <div class="alert alert-warning mx-auto mt-3 h-25">Bạn chưa chọn nhóm ngành!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 my-4 mx-3 non-display bg-custom shadow-custom" id="compare__subject_univ-selection">
                <div class="row mx-0 justify-content-center">
                    <div class="col-12 my-3">
                        <button class="btn btn-link" id="subj-back-btn" show="#compare__subject_subj-selection">
                            <i class="fa fa-angle-double-left"></i> Quay lại chọn ngành</button>
                    </div>
                    <div class="col-lg-10">
                        <h4><i class="fa fa-pencil-square-o"></i> Chọn trường cần so sánh</h4>
                        <form class="form-vertical">
                            <div class="form-group">
                                <label class="control-label" for="comp-subj-multiselect">Bạn có thể chọn tối đa 5 trường để so sánh</label>
                                <select data-placeholder="Tên trường cần so sánh ..." name="state[]" class="multiple-uni-select chosen-select" multiple id="comp-subj-multiselect">

                                </select>
                            </div>

                        </form>
                    </div>


                    <div class="col-lg-10 py-4">
                        <h4><i class="fa fa-list-ul"></i> Danh sách so sánh:</h4>
                        <div class="subject__selected-box text-left my-4" style="min-height:4rem"></div>
                        <btn show="#compare__subject-table" id="compare__subject-btn" class="btn btn-info">So sánh <i class="fa fa-hand-o-right"></i></btn>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 my-4 mx-3 non-display bg-custom shadow-custom" id="compare__university_univ-selection">
                <div class="row mx-0 justify-content-center">
                    <div class="col-lg-10 my-4">
                        <h4><i class="fa fa-pencil-square-o"></i> Chọn trường cần so sánh</h4>
                        <form class="form-vertical">
                            <div class="form-group">
                                <label class="control-label" for="comp-univ-multiselect">Bạn có thể chọn tối đa 5 trường để so sánh</label>
                                <select data-placeholder="Tên trường cần so sánh ..." name="state[]" class="multiple-uni-select chosen-select" multiple id="comp-univ-multiselect">

                                </select>
                            </div>

                        </form>
                    </div>


                    <div class="col-lg-10 py-4">
                        <h4><i class="fa fa-list-ul"></i> Danh sách so sánh:</h4>
                        <div class="university__selected-box text-left my-4" style="min-height:4rem"></div>
                        <btn show="#compare__university-table" id="compare__university-btn" class="btn btn-info">So sánh <i class="fa fa-hand-o-right"></i></btn>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid non-display s-even" id="compare__subject-table">
        <div class="row mx-0 justify-content-center">
            <div class="" style="width:94%">
                <p class="custom-polygon">
                    <i class="fa fa-check"></i>
                </p>
                <h2 class="title-step px-3 py-2" id="compare__subject_table-title"></h2>

            </div>

        </div>
        <div class="row mx-0 justify-content-center">
            <div class="comp_table">
                <table class="table table-fixed table-bordered table-hover sortable">
                    <thead class="fix-on-scroll">
                        <tr id="compare__subject_table-th">

                        </tr>

                    </thead>

                    <tbody id="compare__subject_table-tbody">


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid non-display s-odd" id="compare__university-table">
        <div class="row mx-0 justify-content-center">
            <div class="" style="width:94%">
                <p class="custom-polygon">
                    <i class="fa fa-check "></i>
                </p>
                <h2 class="title-step px-3 py-2">Bảng so sánh các tiêu chí theo trường: </h2>
                
            </div>
        </div>
        <div class="row mx-0 justify-content-center">
            <div class="comp_table">
                <table class="table table-bordered table-hover table-fixed">
                    <thead>
                        <tr id="compare__university_table-th">

                        </tr>
                    </thead>
                    <tbody id="compare__university_table-tbody">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="pop-up">

        <div class="loader-img">
            <img class="img-loader" src="http://gifimage.net/wp-content/uploads/2017/09/ajax-loader-gif-13.gif" alt="" width="800px">
        </div>

        
    </div>
</div>
<script>
    $(document).ready(function () {

    });
</script>
{% endblock %}