{% extends 'UniRanking/base.html' %}
{% load staticfiles %}
{% block title %} So sánh | Hệ thống so sánh các trường Đại học {% endblock %}
{% block compare %} class="active" {% endblock %}
{% block stt %}
<script type="text/javascript" src="{% static 'js/compare.js'%}"></script>

{% endblock %}
{% block body %}
<div id="page">
    <div class="container-fluid after-menu" id="compare-introduce">
        <div class="row mx-0 justify-content-center">
            <div class="col-lg-2 text-center">
                <i class="fa fa-object-ungroup" id="compare-icon"></i>
            </div>
            <div class="col-lg-8">
                <h1> Chức năng so sánh:</h1>
                <!-- <i class="fa fa-object-ungroup" style="font-size:96px"></i> -->
                <p class="p-large">So sánh các trường tương tự nhau hoặc so sánh các ngành đào tạo giống nhau của các trường</p><hr>
            </div>
        </div>
    </div>
    <div class="container-fluid s-odd" id="select-1">
        <div class="row mx-0">
            <div class="col-12">
                <h2 class="title-step-n">1</h2>
                <h2 class="title-step">Chọn kiểu so sánh bạn muốn:</h2>
                <p class="title-step-des">Chọn một tùy chọn so sánh</p>
            </div>
            <!-- <div class="navbar navbar-dark bg-dark"><h1 class="navbar-brand">Bạn muốn so sánh gì</h1></div> -->
        </div>
        <div class="row mx-0 justify-content-center">
            <div class="container">
                <div class="row mx-0">
                    <div class="col-lg-6">
                        <a href="#select-21" class="btn btn-success btn-1 go-to-id" id="subject-compare">So sánh theo ngành</a>
                        <p>Chọn một ngành cụ thể, hệ thống sẽ lọc cho bạn các trường đào tạo ngành đó</p>
                    </div>
                    <div class="col-lg-6">
                        <a href="#select-22" class="btn btn-primary btn-1 go-to-id" id="university-compare">So sánh theo trường</a>
                        <p>Chọn các trường mà bạn đang phân vân để so sánh các tiêu chí của chúng</p>
                    </div>

                </div> 
            </div>
        </div>
    </div>

    <div class="s-even container-fluid non-display" id="select-21">
        <!-- <div class="container-fluid"> -->
        <div class="row mx-0">
            <div class="col-12">
                <h2 class="title-step-n">2</h2>
                <h2 class="title-step">Bạn muốn so sánh ngành nào?</h2>
                <p class="title-step-des">Chọn ngành bạn muốn so sánh</p>
            </div>
        </div>
        <div class="row mx-0">   
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a id ="tab1" class="nav-link active" href="#groupSubject-1" data-toggle="tab">Khối ngành</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab2" class="nav-link" href="#groupSubject-2" data-toggle="tab">Nhóm ngành</a>
                    </li>
                    <li class="nav-item">
                        <a id="tab3" class="nav-link" href="#subject" data-toggle="tab">Ngành</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane in active" id="groupSubject-1">
                        <div class="row mx-0 gs-table" id="gs1-area">

                        </div>
                    </div>
                    <div class="tab-pane fade in" id="groupSubject-2" style="min-height:300px">
                        <div class="row mx-0 gs-table" id="gs2-area">
                            <div class="alert alert-warning mx-auto mt-3">Bạn chưa chọn khối ngành!</div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="subject" style="min-height:300px">
                        <div class="row mx-0 gs-table" id="subject-area">
                            <div class="alert alert-warning mx-auto mt-3">Bạn chưa chọn nhóm ngành!</div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div id="select-31" class="container-fluid non-display s-odd">
        <!-- <div class="container-fluid"> -->
        <div class="row mx-0">
            <div class="col-12">
                <h2 class="title-step-n">3</h2>
                <h2 class="title-step" id="c-s-tit-31"> Bạn muốn so sánh những trường nào?</h2>
                <p class="title-step-des">Chọn tối đa 5 trường để so sánh</p>
            </div>
        </div>
        <div class="row mx-0 text-center">
            <div class="col-12">
                <div class="p-large">Tên trường bạn muốn so sánh:</div>
                <form class="form-vertical">
                    <div class="form-group">
                        <select name="state[]" class="multiple-uni-select" multiple="multiple" id="mul-s-31">
                        </select>
                    </div>
                    <a show="#table-1" id="compare-btn-31" class="btn btn-success go-to-id" href="#table-1">So sánh</a>
                </form>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div id="select-22" class="container-fluid non-display s-even">
        <!-- <div class="container-fluid"> -->
        <div class="row mx-0">
            <div class="col-12">
                <h2 class="title-step-n">2</h2>
                <h2 class="title-step"> Bạn muốn so sánh những trường nào?</h2>
                <p class="title-step-des">Chọn tối da 5 trường để so sánh</p>
            </div>
        </div>
        <div class="row mx-0 text-center">
            <div class="col-12">
                <div class="p-large">Tên trường bạn muốn so sánh:</div>
                <form class="form-vertical">
                    <div class="form-group">
                        <select name="state[]" class="multiple-uni-select" multiple="multiple" id="mul-s-22">

                        </select>
                    </div>
                    <a show="#table-2" id="c-btn-2-2" class="btn btn-success go-to-id" href="#table-2">So sánh</a>
                </form>
            </div>
        </div>
        <!-- </div> -->
    </div>
    
    <div class="container-fluid non-display s-even" id="table-1">
        <div class="row mx-0 justify-content-center">
            <div class="col-12">
                <h2 class="title-step-n">4</h2>
                <h2 class="title-step" id ="c-s-table-title"></h2>
                <p class='p-large'></p></div>  

            </div>
            <div class="row mx-0 justify-content-center">
                <div class="container">
                    <table class="table table-bordered table-hover table-fixed sortable">
                        <thead>
                            <tr id="uni-selected-t-1">

                            </tr>

                        </thead>

                        <tbody id="c-s-tbody-1">


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container-fluid non-display s-odd" id="table-2">
            <div class="row mx-0 justify-content-center">
                <div class="col-12">
                    <h2 class="title-step-n">3</h2>
                    <h2 class="title-step">Bảng so sánh các tiêu chí theo trường: </h2>
                    <p class="title-step-des"> </p>
                </div>
            </div>
            <div class="row mx-0 justify-content-center">
                <div class="col-10">
                    <table class="table table-bordered table-hover table-fixed sortable">
                        <thead>
                            <tr id="uni-selected-t-2">

                            </tr>
                        </thead>
                        <tbody id="c-u-tbody-2">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="step text-center" id="step-1">
            <p class="p-large">1</p>
        </div>
        <div class="step text-center" id="step-2">
            <p class="p-large">2</p>
        </div>
    </div>
    <script>
        $(document).on('click', 'compare-btn-31', function(){
        // $('.sortable').DataTable();
    });
</script>
{% endblock %}
