{% extends 'UniRanking/base.html' %} {% load staticfiles %} {% block title %} So sánh | Hệ thống so sánh các trường Đại học
{% endblock %} {% block compare %} class="active" {% endblock %}
{% block body %}
<div id="compare-page">
    <div class="container-fluid after-menu" id="compare-introduce">
        <div class="row mx-0 justify-content-center">
            <div class="container text-left">
                <div class="row mx-0">
                    <div class="col-lg-9 px-0">
                        <p class="my-2"><a href="/">Trang chủ</a> <i class="fa fa-angle-double-right"></i> So sánh Đại Học</p>
                        <h4 class="font-weight-bold">So sánh Đại Học </h4>
                        <!--<hr>-->
                        <p>Cập nhật dữ liệu tháng 1/2018</p>
                        <!--<hr>-->
                    </div>
                    <div class="col-lg-3 px-0">
                        <ul class="nav social-nav">
                            <li class="mx-1 md-icon"><a href="http://fb.com"><i class="fa fa-facebook-square"></i></a></li>
                            <li class="mx-1 md-icon"><a href=""><i class="fa fa-twitter-square"></i></a></li>
                            <li class="mx-1 md-icon"><a href=""><i class="fa fa-tumblr-square"></i></a></li>
                            <li class="mx-1 md-icon"><a href=""><i class="fa fa-linkedin-square"></i></a></li>
                            <li class="mx-1 md-icon"><a href=""><i class="fa fa-google-plus-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-12 px-0">
                        <p>Tính năng <strong>So sánh</strong> cho phép bạn so sánh trường, ngành học dựa trên điểm. Điểm được tổng hợp theo trường và được xây dựng dựa trên nhiều yếu tố. Điểm được tính theo thang 10.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid s-odd select-area">
        <div class="row mx-0 justify-content-center">
            <div class="container mt-4" id="compare__subject_subj-selection">
                <div class="row mx-0">
                    <div class="col-12 px-0">
                        <div class="row mx-0 mt-4">
                            <div class="col-6 px-0">
                                <h4 class="font-weight-bold"><i class="fa fa-navicon"></i> Chọn ngành cần so sánh:</h4>
                            </div>
                            <!-- <div class="col-6 px-0 text-right">
                                <button class="btn btn-link go-to-id disabled" id="univ-next-btn" show="#compare__subject_univ-selection">Chọn trường
                                    <i class="fa fa-angle-double-right"></i>
                                </button>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-12 my-1 px-0" id="subject-collapse">
                        <div class="">
                            <div class="tab-pane in active" id="groupSubject-1">
                                <div class="row mx-0 gs-table" id="gs1-area">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0 justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="container p-5 mt-4 mx-0 mx-lg-3 m-portlet rounded non-display" id="compare__subject_univ-selection">
                        <div class="row mx-0 justify-content-center">
                            <div class="col-lg-12 px-0">
                                <h4 id="selected-subject" class="font-weight-bold"><i class="fa fa-navicon"></i> Chọn trường cần so sánh</h4>
                                <div class="row justify-content-center my-1 py-1">
                                    <div class= "col-lg-12">
                                        <form class="form-vertical">
                                            <div class="form-group">
                                                <!-- <label class="control-label" for="comp-subj-multiselect">Bạn có thể chọn tối đa 5 trường</label> -->
                                                <select data-placeholder="Tên trường cần so sánh ..." name="state[]" class="multiple-uni-select chosen-select" multiple id="comp-subj-multiselect">
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="subject__selected-box text-left mt-0" >
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <btn show="#compare__subject-table" id="compare__subject-btn" class="btn btn-info my-4">So sánh <i class="fa fa-hand-o-right"></i></btn>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <div class="container-fluid non-display s-even table-area" id="compare__subject-table">
        <div class="row mx-0 justify-content-center">
            <div class="" style="width:94%">
                <h2 class="title-step px-3 py-2" id="compare__subject_table-title"></h2>
            </div>
        </div>
        <div class="row mx-0 justify-content-center">
            <div class="comp_table">
                <table class="table table-fixed table-bordered table-hover sortable">
                    <thead class="fix-on-scroll">
                        <tr id="compare__subject_table-th">
                        </tr>
                    </thead>
                    <tbody id="compare__subject_table-tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="pop-up">

        <div class="loader-img">
            <img class="img-loader" src="http://gifimage.net/wp-content/uploads/2017/09/ajax-loader-gif-13.gif" alt="" width="800px">
        </div>

        
    </div>
</div>
{% endblock %}
{% block stt %}
<script type="text/javascript" src="{% static 'js/iziToast.min.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/iziToast.min.css'%}">

<script type="text/javascript" src="{% static 'js/compare.js'%}"></script>

{% endblock %}