<!--&lt;!&ndash; <!DOCTYPE html>-->

<html lang="vi">
    <head>
        <title>Welcome to UAC</title>
        <script src="js/bootstrap"></script>
        <script scr="js/jquery321.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/university.css"/>
    </head>
    
    <body>
        <div class="navbar navbar-inverse">
            <div class="conatainer">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="university.html" class="navbar-brand">University Ranking</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="university.html">Xếp hạng đại học</a></li>
                        <li><a href="faculty.html">Xếp hạng ngành</a></li>
                        <li><a href="about.html">Thông tin</a></li>
                    </ul>
                </div>    
            </div>    
        </div>

        <div class="content">
            <div class="container">
                <div class="row"><h3>Xếp hạng ngành CNTT theo các tiêu chí:</h3> </div>
                <div class="row">
                    <div class = "col-md-1" id="u-stt">
                        <table class="table table-bordered">
                            <tr><th>STT</th></tr>
                            <tr><td>1</td></tr>
                            <tr><td>2</td></tr>
                            <tr><td>3</td></tr>
                            <tr><td>4</td></tr>

                        </table>
                    </div>
                    <div class="col-md-11" id="u-panel">
                    <table id="table01" class="table table-bordered">
                        <tr>
                            
                            <th onclick="sortTable(0)">Tên Đại học</th>
                            <th onclick="sortTable(1)">Số SV</th>
                            <th onclick="sortTable(2)">Số giải thường ACM</th>
                        </tr>
                        <tr>
                            
                            <td>Đại Học Bách Khoa Hà Nội</td>
                            <td>8558</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            
                            <td>Đại Học Công Nghệ - ĐHQGHN</td>
                            <td>1743</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            
                            <td>Học Viện Công Nghệ Bưu Chính Viễn Thông</td>
                            <td>2344</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            
                            <td>Đại Học FPT</td>
                            <td>944</td>
                            <td>9</td>
                        </tr>
                    </table></div>
                </div>
            </div>
        </div>
        <script>
            function sortTable(n){
                var table, x, y, rows, swap, haveToSwap, directory, swapCount = 0;
                table = document.getElementById("table01");
                swap = true;
                directory = "descend";
                while(swap) {
                    swap=false;
                    rows = table.getElementsByTagName("TR");
                    for(var i = 1; i < rows.length - 1; i ++){
                        haveToSwap=false;//<td>
                        x = rows[i].getElementsByTagName("TD")[n]; x = x.innerHTML; 
                        y = rows[i+1].getElementsByTagName("TD")[n]; y = y.innerHTML;
                        if(!isNaN(Number(x))) x = Number(x); 
                        if(!isNaN(Number(y))) y = Number(y);   

                        if(directory == "descend") {

                            if((isNaN(x) && isNaN(y) && x.toLowerCase() < y.toLowerCase()) || (!(isNaN(x)) && !(isNaN(y)) && x < y)) {
                            haveToSwap = true;                          
                            break;}
                        }
                        else if(directory == "ascend"){ if((isNaN(x) && isNaN(y) && x.toLowerCase() > y.toLowerCase()) || (!isNaN(x) && !isNaN(y) && x > y))  {
                            haveToSwap = true;
                            break;}
                        }
                    }
                    if(haveToSwap) {
                        rows[i].parentNode.insertBefore(rows[i+1], rows[i]);
                        swap = true; swapCount++;
                    }
                    else{
                        if(swapCount == 0 && directory == "descend"){
                            directory =  "ascend";
                            swap = true;
                        }

                    }
                }
            }        
        </script>
    </body>
</html>
 -->

<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="0">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="faculty.html">Section 1</a></li>
          <li><a href="fr.html">Section 2</a></li>
          <li><a href="checkout.html">Section 3</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#section41">Section 4-1</a></li>
              <li><a href="#section42">Section 4-2</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>    

<div id="section1" class="container-fluid">
  <h1>Section 1</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section2" class="container-fluid">
  <h1>Section 2</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section3" class="container-fluid">
  <h1>Section 3</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section41" class="container-fluid">
  <h1>Section 4 Submenu 1</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
<div id="section42" class="container-fluid">
  <h1>Section 4 Submenu 2</h1>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
  <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>

</body>
</html>
