{% extends 'UniRanking/base.html' %}
{% block title %} Xếp hạng chung | Hệ thống so sánh các trường Đại học {% endblock %}
{% block ranking %} class="active" {% endblock %}
{% block body %}
<div class="container-fluid after-menu" id="ranking-introduce">
    <div class="row">
        <div class="col-sm-3 text-center">
            <i class="fa fa-table" id="ranking-icon"></i> 
        </div>
        <div class="col-sm-9">
            <h1> Xếp hạng chung cho các trường</h1>
            <p class="p-large">Bảng xếp hạng chung cho tất cả các trường dựa trên điểm số trung bình của mỗi trường ở mỗi tiêu chí</p><hr>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" id="ranking-body">
        <div class="col-xs-10 col-xs-push-1">
            <table class="sort-table table table-border table-hover" id="ranking-table">
                <thead>
                    <tr>
                        <!-- <th class="no-sort">Thứ hạng</th> -->
                        <th>Trường Đại học</th>
                        <th>Điểm trung bình</th>
                    </tr>
                    
                </thead>
                <tbody>
                {% for uni in University %}
                    <tr>
                        <td>{{ uni.name }}</td>
                        <td>8.1</td>
                    </tr>
                {% endfor %}
                </tbody>
                <!-- <div id="ranking-table"></div>  -->
            </table>
        </div>
    </div>

</div>


</div>
<script>
    // jQuery('#ranking-table tr:last').after('<tr><td>4</td><td>Đại Học Ngoại Thương</td><td>8.2</td></tr>')
    jQuery(document).ready(function() {
        jQuery('#ranking-table').DataTable();
    });
</script>
{% endblock %}