{% extends 'UniRanking/base.html' %}
{% block title %} Thông tin Đại học | Hệ thống so sánh các trường Đại học {% endblock %}

{% block info %}class='active'{% endblock %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid after-menu" id="info-introduce">
    <div class="row justify-content-center">
        <div class="col-lg-2 text-center">
            <i class="fa fa-newspaper-o" id="info-icon"></i>
        </div>
        <div class="col-lg-8">
            <h1>Chức năng xem thông tin trường</h1>
            <!--<i class="fa fa-newspaper-o" style="font-size:60px"></i>-->
            <p class="p-large">Hiển thị đầy đủ thông tin của một trường Đại Học</p><hr>
        </div>
    </div>
</div>
<div class="container-fluid" id="search-uniinfo">
    <div class="row text-center">
        <div class="col-12"><h2 class="area-title">Tìm kiếm theo tên trường bạn muốn tìm hiểu:</h2></div>
    </div>
    <div class="row text-center">
        <div class="col-12"><p class="p-large">Tên trường bạn muốn xem thông tin:</p></div>
        <div class="col-12">
            <form class="form-vertical">
                <div class="form-group">
                    <!-- <input type="text" class="form-control center-form" placeholder="Tìm kiếm" id="info-uni-search" autocomplete="off" required/> -->
                    <select name="state[]" class="info-multiple-select" multiple>
                        {% for uni in University %}
                        <option value="{{ uni.name }}">{{ uni.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
            </form>
            <div class="row justify-content-center  "><a id="uni-info-btn" href="#all-info" class="btn btn-info">Xem Thông tin</a></div>
        </div>
    </div>

</div>
<div class="container-fluid non-display" id="all-info">
    <div class="row" id="background">
        <div class="col-sm-3">
            <img id="uni-avatar" src="{% static 'img/vnu_avatar.jpg'%}" width=140px>
        </div>
        
    </div>
    <div class="row">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-7">
                    <div class="row">
                        <h1 class="col-10 area-title" id="uni-name">Đại Học Quốc Gia Hà Nội</h1>
                        <span class="col-1 fa fa-plus pointer-md-icon" data-toggle="tooltip" title="Thêm vào danh sách yêu thích"></span>
                        <span class=" col-1 fa fa-envelope-square pointer-md-icon" data-toggle="tooltip" title="Nhận thông báo"></span>
                    </div>
                    <div class="row">
                        <p class="col-12 p-large">Đại chỉ: 144, Xuân Thủy, Cầu Giấy</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <img class="img-thumbnail" id="uni-map" src="{% static 'img/map_sample.png'%}" width=100%>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row mx-0" id="nav-info">
                <div class="col-4 text-center">
                    <p class="p-large">Thông tin</p>
                </div>
                <div class="col-8">
                    <ul class="nav ">
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <ul class="nav flex-column">
                        {% for caCr in CategoryCriterion %}
                        <li class="nav-item">
                            <btn class="btn btn-primary btn-lg full-width-btn" data-toggle="collapse" href="#category-criterion-{{ caCr.id }}">{{ caCr.name }} <span class="fa fa-sort"></span></btn>
                            <div id="category-criterion-{{ caCr.id }}" class="collapse">
                                <ul class="list-group">
                                    {% for cr in Criterion%}
                                    {% if cr.category_id == caCr.id %}
                                    <li class="btn btn-info"><btn href="">{{ cr.name }}</btn></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endfor %}
                        


                    </ul>
                </div>
                <div class="col-8">
                    <p> </p> 
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // var uniSource = [];
    // {% for uni in University %}
    // uniSource.push("{{ uni.name }}")
    // {% endfor %}
    
    jQuery(document).ready(function(){
        jQuery('.info-multiple-select').select2({
            maximumSelectionLength: 1
        });
        jQuery('#uni-info-btn').click(function() {
            var uniName = jQuery('.info-multiple-select').val();
            jQuery('#uni-name').text(uniName);
            $('#all-info').show();  
        })
    });
</script>
{% endblock %}