{% extends 'UniRanking/base.html' %}
{% block title %} Thông tin Đại học | Hệ thống so sánh các trường Đại học {% endblock %}

{% block info %}class='active'{% endblock %}
{% block body %}
{% load staticfiles %}
<div class="container-fluid after-menu" id="info-introduce">
    <div class="row">
        <div class="col-sm-3 text-center">
            <i class="fa fa-newspaper-o" id="info-icon"></i>
        </div>
        <div class="col-sm-9">
            <h1>Chức năng xem thông tin trường</h1>
            <!--<i class="fa fa-newspaper-o" style="font-size:60px"></i>-->
            <p class="p-large">Hiển thị đầy đủ thông tin của một trường Đại Học</p><hr>
        </div>
    </div>
</div>
<div class="container-fluid" id="search-uniinfo">
    <div class="row text-center">
        <div class="col-xs-12"><h1>Tìm kiếm theo tên trường bạn muốn tìm hiểu:</h1></div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12"><p class="p-large">Tên trường bạn muốn xem thông tin:</p></div>
        <div class="col-xs-12">
            <form class="form-vertical">
                <div class="form-group row">
                    <input type="text" class="form-control center-form" placeholder="Tìm kiếm" id="info-uni-search"/>
                </div>
                <div class="row text-center"><a id="uni-search-btn" href="#all-info" class="btn btn-info">Xem thông tin</a></div>
            </form>
        </div>
    </div>

</div>
<div class="container-fluid" id="all-info">
    <div class="row" id="background">
        <div class="col-sm-3">
            <img id="uni-avatar" src="{% static 'img/vnu_avatar.jpg'%}" width=140px>
        </div>
        
    </div>
    <div class="row">
        <div class="container">
            <!-- <div class="col-sm-5">
                <img class="img-thumbnail" id="uni-map" src="{% static 'img/map_sample.png'%}" width=100%>
            </div> -->
            <div class="col-sm-7">
                <div class="row"><h1 class="col-xs-10" id="uni-name">Đại Học Quốc Gia Hà Nội</h1>
                    <span class="col-xs-1 fa fa-plus pointer-md-icon" data-toggle="tooltip" title="Thêm vào danh sách yêu thích"></span>
                    <span class=" col-xs-1 fa fa-envelope-square pointer-md-icon" data-toggle="tooltip" title="Nhận thông báo"></span>
                </div>
                <div class="row">
                    <p class="col-xs-12 p-large">Đại chỉ: 144, Xuân Thủy, Cầu Giấy</p>
                </div>
            </div>
            <div class="col-sm-5">
                <img class="img-thumbnail" id="uni-map" src="{% static 'img/map_sample.png'%}" width=100%>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row" id="nav-info">
                <div class="col-xs-4 text-center">
                    <p class="p-large">Thông tin</p>
                </div>
                <div class="col-xs-8">
                    <ul class="nav ">
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <ul class="nav nav-pills nav-stacked">
                        <!-- {% regroup category_criterion by root_group as ca_crit_list %} -->
                        {% for cacrit in CategoryCriterion %}
                        <li class="pill-item">
                            <a class="" data-toggle="collapse" href="#category-criterion{{ cacrit.id }}">{{ cacrit.name }} <span class="caret"></span></a>
                            <div id="category-criterion{{ cacrit.id }}" class="collapse">
                                <ul class="list-group">
                                    {% for crit in Criterion %}
                                        {% if crit.category_id == cacrit.id %}
                                        <li class="list-group-item"><a href="#">{{ crit.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endfor %}
                        

                    </ul>
                </div>
                <div class="col-xs-8">
                    <p> </p> 
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var uniSource = [];
    {% for uni in University %}
        uniSource.push("{{ uni.name }}")
    {% endfor %}
    jQuery(document).ready(function(){
        jQuery('#info-uni-search').autocomplete({
            source: uniSource
        });
        jQuery('#uni-search-btn').click(function(){
            var uni = jQuery('#info-uni-search').val();
            jQuery('#uni-name').text(uni);
        });
    });

</script>
{% endblock %}