@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.area-title{
	margin-top:30px;
}
.full-width-btn{margin:2px 0;border-radius:0px;width:100%}
h1{
	margin-top: 21px;
}
.chosen-container{min-width:70% !important; max-width: 90% !important;}
.wrap-text{overflow-x:auto;}
#introduce_area, #info_area{
	border-radius:4px;
	font-family:'Open Sans', sans-serif;
	z-index:7;
	background-color: #fff;
	background-color:#fff;	
}	

.navbar-nav{margin: 8px; z-index:8;}
.navbar .navbar-nav>.active>a, .navbar .navbar-nav>li>a:focus{
	opacity:1;
	padding-left:10px;
	padding-right:10px;
	color:rgba(6, 90, 250, 1) !important;
	z-index:8;
	/* background-color:rgba(0,136,204,1); */
	border-radius:4px;
	/* border-bottom: 4px solid; */
	/* border-left: 4px solid; */
	
}
.navbar .navbar-nav .nav-link{
	color: #333333;
}
#introduce p{
	font-size:22px;
	padding-left:25px;
}
.navbar-dark .navbar-nav .nav-link{color:rgba(255,255,255,0.8)}

.navbar-light .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
	/* border-radius: 4px; */
	/* border-bottom: 4px solid; */
	color:rgba(6, 90, 250, 1); 
	opacity:1 !important; 
}
#carousel-id {
	margin: 30px 0px;
}			

#navibar{
	background-color: #FAF8FF !important;
	box-shadow: 0px 2px 20px;
}
.navbar-brand:hover{
	color:rgba(6, 90, 250, 1) !important; 
}
.navbar-nav>li>a{
	z-index:8; margin: 0px 2px;
	height: 40px;
	text-transform:uppercase;
	font-weight:500;
}

.after-menu{
	padding-top:68px;
	position:relative;
}
#title-text{
	margin-top:0; 
	padding-top:110px;
	font-weight:900;
	color:rgba(17,17,173,1);
	font-family:cursive; 
	font-size:44px;
}
#quote{background-color:rgba(48, 92, 160,1);height:50px;z-index:1;}
#title-des{
	font-size:22px;
	color:rgba(11,15,131,1);
	padding-top:10px;
	font-family:'Open Sans';
}
#introduce{
	padding:35px 30px;
}
a:not([href]):not([tabindex]){
	color:unset;
}

#function_area{
	background-color:rgba(66, 129, 202, 1);
	color:#fff;
	padding-bottom:20px;;
}
hr.under{	
	width:30%;
}	
.fa.function-icon{
	background-color:#fff;
	color:rgba(66,129,202,1);
	width:90px;
	height:90px;
	line-height:90px;
	font-size:46px;
	border-radius:50%;	
}
.jumbo.text-center{
	background:url(../img/3.jpg);
	background-size:cover;
	height:360px;	
}
.success-icon{
	font-size:30px;
}
#compare-icon, #ranking-icon, #info-icon{
	height:150px;
	width:150px;
	line-height:150px;
	background-color:#fff;
	border-radius:50%;
	font-size:74px;
	color:#007bff;
}
#support_area p{
	font-size:19px;
}
.gs-table .btn{
	font-size:13px;
	/* text-transform:capitalize; */
	text-align:left;	
}
/*#gs2-area .btn, #subject-area .btn{font-size:16px;}*/
.gs-table{
	padding:10px 0;
	min-height:300px;
}
/* .nav-tabs .nav-link {
	border:0px;
} */
ul.ch
/* #compare__subject_subj-selection, #compare__subject_univ-selection{
	border: 1px solid rgba(0,0,0,0.125);
} */
.tab-content{
	border: 1px solid rgba(0,0,0,0.125);
	border-top-width: 0px;
}
.navbar-brand{
	font-size:26px !important;
	padding-top:0 !important;
}
/*table*/
#compare__subject-table, #compare__university-table, #ranking__subject-table, #ranking__subject-table{
	min-height:800px;
	
}
.table-fixed{
	min-height:600px;/* background-color: rgba(143, 197, 79, 0.15);*/	
}
/* .sort-table{
	min-height:540px;
} */
/*.table-fixed thead{position:absolute;}*/
.table-fixed tbody{
	height:390px;
	overflow-y:scroll;
	position:absolute;
}
/* .sort-table tbody{
	height:300px;
	overflow-y:scroll;
	position:absolute;
} */
/* html{overflow-y:scroll;} */
.table-fixed tr{
	table-layout:fixed;
	/*overflow-y:scroll;*/
}
.table-fixed th{
	vertical-align:middle !important;
	text-align:center;
}

.table-fixed td{
	vertical-align: middle;
	text-align:center;
	border:1px solid #f8f9fa;

}
#compare__university_table-th th, #compare__subject_table-th th{
	height:200px !important;
	border:1px solid #fff;
	background-color:#009de1/*rgba(32,177,194,1)*/; color:#fff; font-size:21px;
}
/* #horizontal_table{
	overflow-x: auto;
} */

#subject_table_th-crtr th, #university_table_th-crtr th{
	font-size: 14px;
	width: 30px;
}

.search_choice {
	display: none !important;
}
.comp__subj_table-category{font-weight:700;}
.comp__subj_table-criterion{font-weight:500;}
.comp__subj_table-uni-h, .comp__univ_table-uni-h{max-width:200px;}
.comp__subj_table-category-h, .comp__univ_table-category-h{width:150px;}
.comp__subj_table-criterion-h, .comp__univ_table-criterion-h{width:160px;max-width:200px;}
.comp__univ_table-ctgr-5{background-color:#9159ff; color:#fff;}
.comp__univ_table-5-cr{background-color:rgba(145, 89, 255, 0.6);}
.comp__univ_score-ctgr-5{background-color:rgba(145,89,255,0.1);}
.comp__subj_table-ctgr-6, .comp__univ_table-ctgr-6{background-color:#ff0099;color:#fff;}
.comp__subj_table-6-cr, .comp__univ_table-6-cr{background-color:rgba(255,0,153,0.6);}
.comp__univ_score-ctgr-6, .comp__subj_score-ctgr-6{background-color:rgba(255,0,153,0.1);}
.comp__subj_table-ctgr-7, .comp__univ_table-ctgr-7{background-color:#00b04c;color:#fff;}
.comp__subj_table-7-cr, .comp__univ_table-7-cr{background-color:rgba(0,176,76,0.6);}
.comp__univ_score-ctgr-7, .comp__subj_score-ctgr-7{background-color:rgba(0,176,76,0.1);}
.comp__subj_table-ctgr-8, .comp__univ_table-ctgr-8{background-color:#ff9900;color:#fff;}
.comp__subj_table-8-cr, .comp__univ_table-8-cr{background-color:rgba(255,156,0,0.6);}
.comp__univ_score-ctgr-8, .comp__subj_score-ctgr-8{background-color:rgba(255,156,0,0.1);}
.comp__subj_table-ctgr-9, .comp__univ_table-ctgr-9{background-color:#00cece;color:#fff;}
.comp__subj_table-9-cr, .comp__univ_table-9-cr{background-color:rgba(0,206,206,0.6);}
.comp__univ_score-ctgr-9, .comp__subj_score-ctgr-9{background-color:rgba(0,206,206,0.1);}
.highest{background-color:rgba(3,114,225,0.35);}
.subj-rank{width:63px !important}
#subject_table_th-sort th{height:30px !important}
#DataTables_Table_0_wrapper .row:nth-child(2) .col-sm-12{height:600px; padding:0;}
tr th.sorting{
	height:28px;
}
.dataTables_scrollBody{
	overflow-y: scroll !important;
}

/*.sort-table td{
	font-size:14px;
}*/
/*.sort-table .col-sm-12{
	padding-left:0;
	padding-right:0;
}*/
.ctgr{
	line-height:45px;
}
.change-crtr-btn{
	float:right;
	/* height:50px; */
	border-radius:0px;
	background-color:rgba(180,114,239,0.33);
}
.change-crtr-btn:hover{
	background-color:rgba(8,255,168,0.7);
	border-radius:0px;
}
/* #DataTables_Table_0{height:662px !important} */
/*end table*/
/*info*/
#background{background:url(../img/vnu_cover.jpg);background-size:cover;height:460px;}
#uni-avatar{margin-left:140px ;border:2px solid #fff;}
#background .col-sm-3{top:69%;}
#all-info{background-color:rgba(244,244,244,1);padding-bottom:30px;}
li.pill-item>a{background-color:rgba(66,129,202,1);color:#fff; border-radius:0px;}
.pill-item>a:focus, .pill-item>a:hover{background-color:rgb(240,240,240);color:rgba(66,130,202,1);}
#uni-map{margin-top: 10px}
.list-group{margin-bottom:0;}
.fa.pointer-md-icon{cursor:pointer;font-size:30px;padding:25px 15px 15px 15px;}
.fa.pointer-md-icon:hover{color:rgba(66,130,202,1);font-size:40px;padding:15px 15px 7px 15px}


#nav-info{height:46px;background-color:rgba(66,130,202,1);margin:10px 15px;padding-top:10px;}
.category-criterion{background-color:beige;font-size:large;font-weight:500;}
.info-col-title{background-color:aqua;font-size:x-large;}
.show{display:block;}

 #rank p, #compare p, #uniinfo p, #compare h2, #uniinfo h2, #rank h2, #index-intro p, #support_area i{
	padding:10px 0px 20px 0px; margin: 0px;
}
#compare p, #uniinfo p, #rank p, #index-intro p{min-height:125px;font-size:21px;}
#support_area{color:#fff;background-color: rgba(61, 130, 201, 1);}
.p-large{font-size:18px;}
.showlater, .fadein{display:none;}
#gotop{float:right;position:fixed;bottom:10px;right:30px;display:none;z-index:8;}
/*.row{margin: 0px;}*/
/*.navbar-collapse{background-color:#fff;}*/
.count{font-size:48px; font-weight:bolder;}
#counter-area{padding-top:22px;}
#footer{background-color:#fff;position:absolute;width:100%;}
/*end home*/
/*start compare*/ 
#compare-introduce, #ranking-introduce, #info-introduce{padding:90px 0px 24px 0px;background-color:#00C6CF;/*rgba(50,30,147,1);*/color:#fff;}
.center-form {margin:30px auto; width:70%;}
.s-odd{padding:50px 0;background-color:#f4f8f9;min-height:300px;}
.btn-w-100{border-radius:0px; width:100%;}
.half-btn{width:48%; border-radius: 0px;margin:2px 1px;}
/*.title-step-n{margin-left:3.5vw;padding:2px 0 8px 0;border-radius:0px;text-align:center;z-index:2;}*/
.title-step{clip-path:polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);background-color:#ffdf4b;color:#175265;border:1px solid #fff;margin-left:-1rem;border-left:2rem solid;margin-top:-17px;}
.title-step-des{padding-left:7.7vw;margin-top:15px;}
.btn-2, .btn-3-cg, .btn-22, .gs-btn{border-radius:0px;width:100%;cursor:pointer;}
.btn-2:hover, .btn-3:hover, .btn-3-cg:hover, .btn-22:hover, .gs-btn:hover{background-color:#9cece7;color:#392ef1;}
.btn-3{border-radius:0px;width:100%;background-color:rgb(76,151,235);cursor:pointer;}
.btn.btn-select{background-color:#9cece7;color:#392ef1;}
.s-even{background-color:#e1e8f0; padding:50px 0;min-height:300px;}
.btn-3.btn-select:hover{background-color:#9cece7;color:#392ef1;}
.non-display{display:none;}
#carousel-comp{
	margin-top: 0px;
}
.bg-custom{
	background-color: #fff !important;
}
.shadow-custom{
	box-shadow: 0px 0px 20px #5e9bcb63;
}
.my-4.bg-custom.shadow-custom:hover {
    box-shadow: 8px 8px 22px 5px #acacd4;
}
/*.btn:hover{box-shadow:4px 2px 10px #888888;}*/
.cri-select{padding-bottom:30px;}
.nav-tabs .nav-item{width:33.3333333333333333333333333333%;}
.step{position:fixed;right:0; height: 28px; width:30px; background-color:#000;color:#fff;}
#step-1{top:200px;}
#step-2{top:230px;display:none;}
/* .notification{
	position:fixed;
	display:none;
	top:70px; z-index:9999;
	color:green;
	background-color:#fff;
	box-shadow: 4px 4px 10px #dfcfe2;
} */
.search-choice{
	display: none !important;
}
ul.chosen-choices{
	margin-top:22px !important;
	border-radius: 4px;
}
.loader-img{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:#fff;
	opacity:0.97;
	display:none;
}
.img-loader{
	/*/background: url('http://gifimage.net/wp-content/uploads/2017/09/ajax-loader-gif-13.gif') no-repeat center center; */
	width:80px;
	height:80px;
	top:50%;
	left:50%;
	position:absolute;
	margin-top: -40px;
	margin-left: -40px;
}
.subject__selected-box i:hover, .university__selected-box i:hover{
	cursor:pointer;
	color:#ef479b;
	font-size:20px;
}
.right-icon{
	float:right !important;
}
.right-icon:hover{
	cursor:pointer;
	/*color:;*/
	font-size:22px;
}
.vertical_center{
	display:flex;
	align-items:center;
}
.custom-polygon{
	clip-path:polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
	background-color:#3f51b5;
	height:50px;line-height:50px;
	width:130px;
	text-align:center;
	font-size:25px; font-weight:500;
	color:#fff; margin-top:-30px; margin-left: 15px;
	border:1px solid #fff;
	
}
.comp_table{
	width:94%;
}
#compare__subject_table-tbody, #compare__university_table-tbody{
	width:95.2%;
}
.chosen-search-input{
	height:36px !important;
	border-radius:4px !important;
	font-size:16px !important;
}
/*.border_left{
	border-left:1px solid #000;
}*/
/*.border_bottom{
	border-bottom: 1px solid #000;
	padding-bottom:20px;
}*/
/*.title-step-after{*/
	/*content:" ";background-color:green;*/
	/*clip-path:polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);*/
	/*clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%,  0% 100%);*/
/*}*/
/*.title-step:before{
	content:" ";
	position:absolute;
	background:#f4f4f4;
	bottom:54px;
	width:270px;
	height:30px;
	left:50%;
	margin-left: -135px
}*/

/*end compare AND start uniinfo*/
/*#info-introduce{padding:90px;min-height:300px;background-color:rgba(29,196,176,1);}*/
#search-uniinfo{min-height:400px;background-color:rgba(244,244,244,1);}
/*#info-introduce i{padding:20px 0px 20px 0px;}*/
/*end info*/
.required{color:red;}
#register-body{background-color:#ccd6e0;}
#form-register{background-color:rgba(244,244,244,1);border:1px solid rgba(230,230,230,1);border-radius:8px;padding:30px 20px;margin:30px 0px;}
#register-title, #contact-title, #ranking-title{padding-bottom:30px;background-color:rgba(50,30,147,1);color:#fff;}

/*end register*/
#contact-a{padding:20px 90px;}
#content-respon{height:140px;}
#contact-body{background-color:rgba(245,245,244,1);}
#contact-b{padding:20px 35px;}
#contact-title, #ranking-title{padding-left:6vw;}
/*end contact*/
#ranking-body{background-color:rgba(244,244,244,1);padding: 30px 0px;}