@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.area-title{
	padding-top:15px;
}
.full-width-btn{margin:2px 0;border-radius:0px;width:100%}
h1{
	padding-top: 21px;
}
.select2-container{min-width:50% !important; max-width: 70% !important;}

#introduce_area, #info_area{
	border-radius:4px;
	font-family:'Open Sans', sans-serif;
	z-index:7;
	background-color: #fff;
	background-color:#fff;	
}	

.navbar-nav{margin: 8px; z-index:8;}
.navbar .navbar-nav>.active>a, .navbar .navbar-nav>li>a:focus{
	opacity:1;
	padding-left:10px;
	padding-right:10px;
	color:aqua;
	z-index:8;
	background-color:rgba(0,136,204,1);
	border-radius:4px;
}
#introduce p{
	font-size:22px;
	padding-left:25px;
}
.navbar-dark .navbar-nav .nav-link{color:rgba(255,255,255,0.8)}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
	border-radius: 4px;
	border-bottom: 4px solid; color:#fff; 
	opacity:1 !important; 
}
#carousel-id {
	margin: 30px 0px;
}			

#navibar{
	opacity:0.95;
}
.navbar-nav>li>a{
	z-index:8; margin: 0px 2px;
	height: 40px;
	text-transform:uppercase;
	font-weight:400;
}

.after-menu{
	padding-top:68px;
	position:relative;
}
#title-text{
	margin-top:0; 
	padding-top:110px;
	font-weight:900;
	color:rgba(17,17,173,1);
	font-family:cursive; 
	font-size:44px;
}
#quote{background-color:rgba(48, 92, 160,1);height:50px;z-index:1;}
#title-des{
	font-size:22px;
	color:rgba(11,15,131,1);
	padding-top:10px;
	font-family:'Open Sans';
}
#introduce{
	padding:35px 30px;
}
a:not([href]):not([tabindex]){
	color:unset;
}

#function_area{
	background-color:rgba(66, 129, 202, 1);
	color:#fff;
	padding-bottom:20px;;
}
hr.under{	
	width:30%;
}	
.fa.function-icon{
	background-color:#fff;
	color:rgba(66,129,202,1);
	width:90px;
	height:90px;
	line-height:90px;
	font-size:46px;
	border-radius:50%;	
}
.jumbo.text-center{
	background:url(../img/3.jpg);
	background-size:cover;
	height:360px;
	
}
#compare-icon, #ranking-icon, #info-icon{
	height:150px;
	width:150px;
	line-height:150px;
	background-color:#fff;
	border-radius:50%;
	font-size:74px;
	color:rgba(66,129,202,1);
}
#support_area p{
	font-size:19px;
}
/*info*/
#background{background:url(../img/vnu_cover.jpg);background-size:cover;height:460px;}
#uni-avatar{margin-left:140px ;border:2px solid #fff;}
#background .col-sm-3{top:69%;}
#all-info{background-color:rgba(244,244,244,1);padding-bottom:30px;}
li.pill-item>a{background-color:rgba(66,129,202,1);color:#fff; border-radius:0px;}
.pill-item>a:focus, .pill-item>a:hover{background-color:rgb(240,240,240);color:rgba(66,130,202,1);}
#uni-map{margin-top: 10px}
.list-group{margin-bottom:0;}
.fa.pointer-md-icon{cursor:pointer;font-size:30px;padding:25px 15px 15px 15px;}
.fa.pointer-md-icon:hover{color:rgba(66,130,202,1);font-size:40px;padding:15px 15px 7px 15px}


#nav-info{height:46px;background-color:rgba(66,130,202,1);margin:10px 15px;padding-top:10px;}
.category-criterion{background-color:beige;font-size:large;font-weight:500;}
.info-col-title{background-color:aqua;font-size:x-large;}
.show{display:block;}

 #rank p, #compare p, #uniinfo p, #compare h2, #uniinfo h2, #rank h2, #index-intro p, #support_area i{
	padding:10px 0px 20px 0px; margin: 0px;
}
#compare p, #uniinfo p, #rank p, #index-intro p{min-height:125px;font-size:21px;}
#support_area{color:#fff;background-color: rgba(61, 130, 201, 1);}
.p-large{font-size:18px;}
.showlater, .fadein{display:none;}
#gotop{float:right;position:fixed;bottom:10px;right:30px;display:none;z-index:8;}
/*.row{margin: 0px;}*/
/*.navbar-collapse{background-color:#fff;}*/
.count{font-size:48px; font-weight:bolder;}
#counter-area{padding-top:22px;}
#footer{background-color:#fff;position:absolute;width:100%;}
/*end home*/
/*start compare*/ 
#compare-introduce, #ranking-introduce, #info-introduce{padding:90px 0px 24px 0px;background-color:rgba(66,129,202,1);/*rgba(50,30,147,1);*/color:#fff;}
.center-form {margin:30px auto; width:70%;}
.select-odd{padding:60px 0;background-color:rgba(244,244,244,1);}
.btn-1{margin:30px 0px;border-radius:0px; width:100%;}
.half-btn{width:48%; border-radius: 0px;margin:2px 1px;}
.title-step{padding-left:6vw;}
.title-step-des{padding-left:9vw;}
.btn-2, .btn-3-cg, .btn-22{border-radius:0px;width:100%;cursor:pointer;}
.btn-2:hover, .btn-3:hover, .btn-3-cg:hover, .btn-22:hover{background-color:#eee;color:rgb(66,130,202);}
.btn-3{border-radius:0px;width:100%;background-color:rgb(76,151,235);cursor:pointer;}
.btn.btn-select{background-color:#d2f1ed;color:rgb(66,130,202);}
.select-even{background-color:rgb(244, 230, 244); padding: 60px 0;}
.btn-3.btn-select:hover{background-color:#eee;color:rgb(66,130,202);}
.non-display{display:none;min-height: 300px;}

.cri-select{padding-bottom:30px;}

.step{position:fixed;right:0; height: 28px; width:30px; background-color:#000;color:#fff;}
#step-1{top:200px;}
#step-2{top:230px;display:none;}
/*end compare AND start uniinfo*/
/*#info-introduce{padding:90px;min-height:300px;background-color:rgba(29,196,176,1);}*/
#search-uniinfo{min-height:400px;background-color:rgba(244,244,244,1);}
/*#info-introduce i{padding:20px 0px 20px 0px;}*/
/*end info*/
.required{color:red;}
#register-body{background-color:#ccd6e0;}
#form-register{background-color:rgba(244,244,244,1);border:1px solid rgba(230,230,230,1);border-radius:8px;padding:30px 20px;margin:30px 0px;}
#register-title, #contact-title, #ranking-title{padding-bottom:30px;background-color:rgba(50,30,147,1);color:#fff;}

/*end register*/
#contact-a{padding:20px 90px;}
#content-respon{height:140px;}
#contact-body{background-color:rgba(245,245,244,1);}
#contact-b{padding:20px 35px;}
#contact-title, #ranking-title{padding-left:6vw;}
/*end contact*/
#ranking-body{background-color:rgba(244,244,244,1);padding: 30px 0px;}