body{
    background: url("../image/hypnotize.png");
}

.intro{
    background: url("../image/class.jpg") no-repeat center;
    background-size : cover;
    margin-bottom: 0px;
}

.intro .container{
    margin-top: 70px;
}

.intro .cover_logo{
    height: 36vh;
    float: right;
}

.intro .text_intro{
    height: 36vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right : 50%;
}

.intro .text_intro > p{
    font-style: italic;
}

#ranking_option .card{
    padding: 10px;
    border-width: 5px;
    background-color: #5DABCB;
}

#ranking_option .card .card-img-top{
    height: 15rem;
    object-fit: cover;
}

#ranking_option .card .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding-bottom: 10px;
}

#ranking_option .card button{
    font-size: 18px;
    background-color: #F9CB4D;
}

#ranking_option .card button:hover{
    background-color: #C69E1A;
}

#subject_rank{
    background-color: rgba(0, 154, 169, 0.1);
    padding: 0;
}

#subject_rank .subject_ranking_intro{
    background: url("../image/book21.jpg") no-repeat center;
    background-size: cover;
    color: white;
    margin-bottom: 0;
    border-radius: 0;
}

#subject_rank .main_content{
    margin-top: 30px;
}

#subject_choice .card{
    margin-bottom: 30px;
}

#subject_choice .card-header, #criterion_filtering_nav .title{
    background: url("../image/a.jpg");
    background-position-y: 39%;
    color: #DADDE2;
    font-size: 20px;
}



#subject_choice .ranking_overview a{
    position: relative;
    display: block;
    padding: 7px 0 7px 48px;
    margin: 8px 0 8px 0;
    font-weight: bold;
}

#subject_choice .ranking_overview a::before{
    content : "";
    position: absolute;
    left: 0;
    top: 0;
    background: url("../image/rank_count.png") no-repeat;
    height: 42px;
    width: 42px;
}   

#subject_choice .ranking_overview a:nth-child(2):before{
    background-position: -43px;
}

#subject_choice .ranking_overview a:nth-child(3):before{
    background-position: -86px;
}

#subject_choice .subject_list tr:first-child td{
    border: none;
}

#criterion_list a{
    font-size:15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#criterion_list a i{
    width: 20%;
}

#ranking_area{
    background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.55),
        rgb(255, 255, 255)
      ), url("../image/triangular.png");
    height: 100vh;
    display: flex;
    align-items: center;
}

#ranking_table {
    height: 830px;
}

#ranking_table tr{
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

#ranking_table th{
    vertical-align: top;
    text-align: center;
}

#ranking_table tbody{
    overflow-y: scroll;
    height: 500px;
    position:absolute;
}

#ranking_table .category_criterion_header{
    color: white;
}

#ranking_table .criterion_header > th{
    font-size: 13px;
    font-weight: 500;
}

#ranking_table td:not(:nth-child(2)){
    text-align: center;
}

#ranking_table td:nth-child(2){
    font-size: 14px;
}

#ranking_table thead tr:nth-child(-n+2) th:nth-child(-n+2){
    border: none;
}

#ranking_table .category_criterion_header{
    height: 100px;
}

#ranking_table .category_criterion_header > th{
    vertical-align: middle;
}
#ranking_table .category_criterion_header > .facility{
    background-color: #9474B0;
}

#ranking_table .category_criterion_header > .education{
    background-color: #E59C23;
}

#ranking_table .category_criterion_header > .research{
    background-color: #6B3650;
}

#ranking_table .category_criterion_header > .partner{
    background-color: #008A5B;
}

#ranking_table .category_criterion_header > .job{
    background-color: #6F3A00;
}

#ranking_table .criterion_header > .facility{
    background-color: rgb(203, 168, 232, 0.9);
}

#ranking_table .criterion_header > .education{
    background-color: rgba(255, 153, 0, 0.6);
}

#ranking_table .criterion_header > .research{
    background-color: rgb(182, 123, 150, 0.8);
}

#ranking_table .criterion_header > .partner{
    background-color: rgb(82, 192, 141, 0.8);
}

#ranking_table .criterion_header > .job{
    background-color: rgb(168, 106, 50, 0.7);
}

#ranking_table tbody .facility{
    background-color: rgb(254, 233, 255, 1);
}

#ranking_table tbody .education{
    background-color: rgba(255, 153, 0, 0.35);
}

#ranking_table tbody .research{
    background-color: rgb(182, 123, 150, 0.5);
}

#ranking_table tbody .partner{
    background-color: rgb(82, 192, 141, 0.3);
}

#ranking_table tbody .job{
    background-color: rgb(168, 106, 50, 0.3);
}

#ranking_table .sorting_option{
    background-color: #BDBDBD;
}

#ranking_table tbody, #ranking_table .s{
    background-color: white;
}

#ranking_table thead tr .tablesorter-header{
    background-image: url("../image/tablesorter_theme/bg.gif");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#ranking_table thead tr .tablesorter-headerAsc{
    background-image: url("../image/tablesorter_theme/asc.gif");
}

#ranking_table thead tr .tablesorter-headerDesc{
    background-image: url("../image/tablesorter_theme/desc.gif");
}




@media(min-width:576px) {
    .navbar{
        position: absolute;
        top: 0px;
    }
}
