{% extends 'UniRanking/share/base.html' %}
{% load staticfiles %}
{% block title %} Liên hệ | Hệ thống so sánh các trường Đại học{% endblock %}
{% block contact %} class='active'{% endblock %}
{% block body %}
<div class="container-fluid after-menu" id="contact-body">
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h4 class="my-2"><a href="/">Trang chủ</a> <i class="fa fa-angle-double-right"></i> Liên hệ, phản hồi</h4>
					<hr class="my-3">
				</div>

			</div>
		</div>
		


	</div>
	<div class="row">
		<div class="container my-3">
			<div class="row">
				<div class="col-md-6">
					<div>
						<p class="p-large"><i class="fa fa-map-marker"></i> <strong>Địa chỉ liên hệ: </strong> P320, E3, Đại Học Công Nghệ, ĐHQGHN, 144, Xuân Thủy, Cầu Giấy, Hà Nội</p>
						<p class="p-large"><i class="fa fa-envelope"></i> <strong>Email: </strong> uniranking@vnu.edu.vn</p>
					</div>
				</div>
				<div class="col-md-6">
					<form class="row justify-content-center">
						<div class="form-group col-md-6">
							<label for="name">Họ tên:</label>
							<input class="form-control" type="text" id="contact_name" placeholder="Họ tên" required/>
						</div>
						<div class="form-group col-md-6">
							<label for="email">Email: </label>
							<input class="form-control" type="email" id="contact_email" placeholder="Email" required/>
						</div>
						<div class="form-group col-md-12">
							<label for="title">Tiêu đề</label>
							<input class="form-control" type="text" id="contact_title" placeholder="Tiêu để" required/>
						</div>
						<div class="form-group col-md-12">
							<label for="content-respon">Nội dung</label>
							<textarea class="form-control" type="text" id="contact_content" placeholder="Nội dung" required></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-info">Gửi ý kiến</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block stt %}
<script type="text/javascript" src="{% static 'js/iziToast.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/contact.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/iziToast.min.css'%}"> 
{% endblock %}