<div id="footer" style="background-color:#fff">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="area-title font-weight-bold my-4">Liên hệ:</h4>
                <ul>
                    <li class="py-2">
                        <i class="fa fa-envelope"></i>
                        <strong> Email:</strong>
                        <a href="mailto:uniranking@vnu.edu.vn"> uniranking@vnu.edu.vn</a>
                    </li>
                    <li class="py-2">
                        <i class="fa fa-map-marker"></i>
                        <strong> Địa chỉ:</strong> P.320, E3, Trường Đại Học Công Nghệ, ĐHQGNH, 144, Xuân Thủy, Cầu Giấy, Hà Nội.</li>
                    <li class="py-2">
                        <i class="fab fa-facebook"></i>
                        <strong> Facebook:</strong>
                        <a target="_blank" href="https://facebook.com/"> Uniranking</a>
                    </li>
                </ul>
                <p>
                    <i class="fa fa-copyright"></i>
                    <strong> Copyright @2018 by UET</strong>
                </p>

            </div>
        </div>
    </div>
</div>