{% extends "layouts/base.html" %}{% load static %} {% block title %} {{ university.name }} {% endblock %} {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/info.css' %}"> {% endblock %} {% block script %}
    <script src="{% static 'js/info.js' %}"></script>
{% endblock %} {% block intro %}
    <div class="cover"></div>
{% endblock %} 

{% block body %}
    <div class="gap"></div>
    <div class="container">
        <img class="profile_image img-thumbnail mx-auto d-block d-md-inline" src="{% static 'image/vnu_avatar.jpg' %}" alt="avatar">
        <div class="d-none d-md-inline-block col-md-2 col-lg-4"></div>
        <img class="map img-thumbnail d-none d-md-inline" src="{% static 'image/map_sample.png' %}" alt="map sample">
    </div>
    <div class="container-fluid">
        <div class="row uni_header">
            <div class="col mr-2">
                <h2 class="text-center font-weight-bold">{{ university.ranking_position }}</h2>
            </div>
            <div class="col-11">
                <h3> {{ university.name }}</h3>
            </div>
        </div>
        <div class="row uni_body">
            <div id="subject_list" data-university-id="{{university.pk}}" class="col d-flex flex-column"></div>
            <div class="ml-2 pr-0 col-8">
                <table id="score_table" class="table">
                    <thead class="table_head">
                        <tr>
                            <th id="score_title" style="width:80%;"></th>
                            <th class="text-center"> 
                                <a id="score_add"><i class="fas fa-plus-square fa-lg"></i></a> 
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_subject_modal" tabindex="-1" role="dialog" aria-labelledby="addSubjectModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm ngành <i class="fas fa-plus"></i></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="subject_sector_select" class="col-4 col-form-label font-weight-bold">KHỐI NGÀNH</label>
                        <div class="col">
                            <select class="form-control" id="subject_sector_select">
                                <option value="0">-------- Chọn khối ngành --------</option>
                                {% if subject_sectors %}
                                    {% for subject_sector in subject_sectors %}
                                        <option value="{{subject_sector.id}}">{{subject_sector.name}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="subject_group_select" class="col-4 col-form-label font-weight-bold">NHÓM NGÀNH</label>
                        <div class="col">
                            <select class="form-control" id="subject_group_select">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="display:none;">
                        <label for="subject_list_select" class="col-form-label font-weight-bold">NGÀNH</label>
                        <div class="list-group list-group-flush" id="subject_list_select">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_score_modal" tabindex="-1" role="dialog" aria-labelledby="addScoreModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm điểm <i class="fas fa-plus"></i></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="category_list_select" class="col-4 col-form-label font-weight-bold">NHÓM TIÊU CHÍ</label>
                        <div class="col">
                            <select class="form-control" name="category" id="category_list_select">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="add_score_field" class="col-form-label font-weight-bold">TIÊU CHÍ</label>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 85%;">
                                        <select class="form-control" id="criterion_list_select">
                                        </select>
                                    </th>
                                    <th class="px-0" style="width: 15%;">
                                        <input id="score_input" class="form-control text-center" placeholder="Điểm">
                                    </th>
                                    <th class="text-center">
                                        <button id="score_add_confirm" class="btn btn-outline-success border-0"><i class="fas fa-plus"></i></button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="added_score_field">
                            </tbody>
                        </table>
                            {% comment %} <div class="form-group row">
                                <div class="col-8">
                                    <select class="form-control" id="criterion_list_select">
                                    </select>
                                </div>
                                <div class="col px-0">
                                    <input id="score_input" class="form-control" placeholder="Điểm">
                                </div>
                                <div class="col-2 pr-0">
                                    <button id="score_add_confirm" class="btn btn-outline-success border-0"><i class="fas fa-plus"></i></button>
                                </div>
                            </div> {% endcomment %}
                            
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}